<style>img { display: block; margin: 0 auto 1em; max-width: 35em; } h2 { color: #6b1328; font-weight: normal; } form, label, input { box-sizing: border-box; } form { background-color: #efefef; border-radius: 0.5rem; margin: 0 auto; max-width: 30em; padding: 1em; text-align: left; } label { display: block; padding: 0.5rem 0; } input[type="password"] {  background-color: #fff!important; border: none; border-radius: 0.25rem; margin-bottom: 0.5rem; padding: 0.5rem; width: 100% } div.password_confirm { margin-bottom: 1rem; } input[type="submit"] { background-color: #6b1328; border: 1px solid #6b1328; border-radius: 0.25rem; color: #fff; cursor: pointer; padding: 1rem 0.5rem; } input[type="submit"]:last-of-type { background-color: #fff; border: 1px solid #6b1328; color: #6b1328;}</style>

<img src="https://cdn.shopify.com/s/files/1/0668/5304/4458/files/Schole_Academy_Logo_Horizontal.png?v=1666206224" alt="Scholé Academy logo">
<h2>Activate your account!</h2>

{% form 'activate_customer_password' %}
  {{ form.errors | default_errors }}

  <div class="password">
    <label for="password">Password</label>
    <input type="password" name="customer[password]">
  </div>

  <div class="password_confirm">
    <label for="password_confirmation">Password Confirmation</label>
    <input type="password" name="customer[password_confirmation]">
  </div>

  <div class="submit">
    <input type="submit" value="Activate account">
    <span>or</span>
    <input type="submit" name="decline" value="Decline invitation">
  </div>
{% endform %}